body{
    background-color: azure;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.header{
    text-align: center;

}
h2{
    color: darkcyan;

}
h3{
    color: blueviolet;

}
a{
    text-decoration: none;
    color: brown;
}
table{
    border-color: cadetblue;
    width: 800px;
}

.container{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.link-in{
    color:blueviolet;

}
.messi{
    width: 100vw;
    display: flex;
    justify-content: center;
}
img{
    width: 600px;
    border-radius: 20px;
}
.mass{
    border-radius: 20px;
    width: 600px;
}
audio{
    width: 100vw;
    display: flex;
    justify-content: center;

}
.navbar{
    width: 100vw;
    display: flex;
    justify-content: space-around;

}
.navv{
    color: black    ;

}
nav{
    position: sticky;
    top: 0px;
    background-color: aquamarine;
}